<html>
<head>
<title></title>
<style>
Body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: hsl(0, 0%, 94%);  
}  
h1 {
            margin: 10px auto;
            text-align: center;
            color: hsl(0, 100%, 25%);
            font-size: 3em;
            transition: 0.5s;
            font-family: Copperplate, Papyrus, fantasy;
        }
button {   
       background-color: hsl(0, 20%, 50%);  
       border: none;
  color: white;
  padding: 14px 40px;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float:left 100%;
  cursor: pointer;
  border-radius: 12px;
         } 
button:hover {   
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
		0 6px 20px 0 rgba(0,0,0,0.19);
        opacity: 0.7;   
    }

h2 {
            margin: 5px auto;
            text-align: left;
            color: hsl(0, 100%, 25%);
            font-size: 1.5em;
            transition: 0.5s;
            font-family: Copperplate, Papyrus, fantasy;
        }
p{
            text-align: justify;
			color: hsl(0, 0%, 24%);
			}
</style>
</head>
<body>
<h1>Welcome to World Cup Tournament!</h1>
</br>

<button onclick="location.href = 'Match'"; type="match">Match</button>
<button onclick="location.href = 'Adminloging'"; type="Adminloging">Log AS Admin</button>

</br>

<h2>History of Worldcup Cricket Tournament</h2>
<p>The first cricket Test match was played in 1877 between 
Australia and England. Cricket was contested at the 1900 
Summer Olympics where Great Britain defeated France by 158 
runs. However, the International Olympic Committee cancelled cricket as 
an Olympic sport afterwards.</p>
<p>The first attempt at arranging an international cricket 
competition was the 1912 Triangular Tournament. It was a 
Test cricket tournament played in England between all 
three Test playing nations at the time England, Australia
 and South Africa. Due to poor weather and a lack of 
 public interest, the experiment was not repeated. 
 From then on, international Test cricket teams only 
 generally engaged in bilateral series as opposed to 
 tournaments or leagues involving more than two nations.</p>
 <p>In the early 1960s, English county cricket teams began 
playing a shortened version of cricket, which only lasted 
for one day. One-day cricket started as a 4-team knockout 
competition, known as the Midlands Knock-Out Cup in 1962
 and later as the Gillette Cup in 1963, and grew in 
 popularity, resulting in a national league called the
 Sunday League to be created in 1969.The forty over 
 match (eight balls per over) was used to fill the time 
 as compensation for the frustrated crowd.</p>
 <p>The success and popularity of the domestic one-day 
competitions in England and other parts of the world as 
well as the early One-day Internationals prompted the 
International Cricket Council to consider organising a 
Cricket World Cup.</p>
<p>The Men's Cricket World Cup was first held in 1975 in 
England, which was the only nation that was able to put 
forward the resources to stage an event of such magnitude
. The first three tournaments were officially known as
 the Prudential Cup after the financial services company
 Prudential plc who sponsored the event. The matches were
 of 60 overs per team and played in traditional white 
 uniform and red balls. They were all played during the 
 day. Eight teams participated in the first tournament: 
 Australia, England, the West Indies, Pakistan, India, 
 and New Zealand (the six Test nations at the time), 
 with Sri Lanka and a composite team from East Africa.
 The next two World Cups held in 1979 and 1983 were 
 again hosted by England. The 1979 Cricket World Cup 
 saw the introduction of the ICC Trophy, a competition 
 used to select non-Test playing teams for the World Cup.
 The 1983 event was hosted by England for a third 
 consecutive time. By this time, Sri Lanka had become 
 a Test playing nation, and Zimbabwe qualified through 
 the ICC Trophy. India were crowned champions after 
 upsetting the West Indies by 43 runs in the final.</p>
 <p>The 1987 Cricket World Cup held in India and Pakistan 
 was the first World Cup hosted outside England. It was 
 also the first tournament where the West Indies were 
 unable to reach the final.The 1992 Cricket World Cup 
 held by Australia and New Zealand brought many changes 
 to the game such as coloured clothing, white balls, 
 day/night matches and an alteration to the fielding 
 restrictions. It was the first tournament that the 
 South African cricket team played in, following the
 end of the international sports boycott.The 1996 
 championship was held in the Indian subcontinent 
 for the second time, with the inclusion of Sri Lanka 
 as host of some of its group stage matches. It occurred
 behind the backdrop of political upheaval in world 
 cricket, after a spiteful Sri Lankan tour of Australia
 in 1995/96.The 1999 event returned to England after 
 sixteen years with some matches also held in Ireland, 
 Scotland and the Netherlands. South Africa, Zimbabwe 
 and Kenya hosted the 2003 Cricket World Cup. The number 
 of teams participating in the event increased from 
 twelve to fourteen.</p>
 <p>In 2007 the tournament was hosted by the West Indies; 
 the Cricket World Cup became the first such tournament 
 to be hosted on all six populated continents- Europe 
 (1975, 1979, 1983, 1999); Asia (1987, 1996); 
 Australasia (1992); Africa (2003); North and South 
 America (2007).The 2011 ICC Cricket World Cup was the 
 tenth Cricket World Cup. It was played in India, 
 Sri Lanka, and Bangladesh. India won the tournament, 
 defeating Sri Lanka by 6 wickets in the final at the 
 Wankhede Stadium in Mumbai.</p>
</body>
</html>
